<?xml version="1.0" ?>

<launch>
  <node pkg="shape_tracking" name="shape_tracking" type="shape_tracking" output="screen">
 		<param name="set_roi" type="bool" value="false" />

		<param name="task" type="string" value="sphere_tracking" />
    <param name="img_left_topic" type="string" value="/rodyman/left_camera/image_raw/rep" />
    <param name="img_right_topic" type="string" value="/rodyman/right_camera/image_raw/rep" />
    <param name="stereo_cam" type="bool" value="true" />
    <param name="th" type="int" value="180" />
    <param name="off_x_l" type="int" value="99" />
    <param name="off_y_l" type="int" value="0" />
    <param name="rect_w_l" type="int" value="514" />
    <param name="rect_h_l" type="int" value="543" />

    <param name="off_x_r" type="int" value="355" />
    <param name="off_y_r" type="int" value="0" />
    <param name="rect_w_r" type="int" value="393" />
    <param name="rect_h_r" type="int" value="543" />

    <param name="to_blur" type="bool" value="false" />

    <param name="show_image_elaboration" type="bool" value="false" />

  </node>

</launch>
